<h1>
  This is Example 1: Direct call to component without handlebars component
  helper!
</h1>
{{#each @model as |post|}}
  {{! Example 1-2: Instead passing in a post and body for display as an attribute, we send two blocks to be formated and displayed by the blogpost component}}
  <BlogPost>
    <:author>
      <p>BlogPostComponent Author: {{post.author}}</p>
    </:author>
    <:title>
      <p>BlogPostComponent Title: {{post.title}}</p>
    </:title>
    <:body>
      <p>BlogPostComponent Body: {{post.body}}</p>
    </:body>
  </BlogPost>
{{/each}}
<h1>
  This is Example 2: Invoking a call with the handlebars component helper. And
  passing in the whole model as post
</h1>
{{#each @model as |post|}}
  {{! componentName is an @model attribute, it will be either foo-component or bar-component, which formats and displays the attribute sent in as args}}
  {{#let (component post.componentName) as |FooOrBarComponent|}}
    <FooOrBarComponent @post={{post}} />
  {{/let}}
{{/each}}
<h1>
  This is Example 3: Invoking a specific component and passing in Named
  attributes!
</h1>
{{#each @model as |post|}}
  {{! Invoke component and pass in 3 blocks to be formated by component}}
  <BlogPost>
    <:author>
      <p>BlogPostComponent Author: {{post.author}}</p>
    </:author>
    <:title>
      <p>BlogPostComponent Title: {{post.title}}</p>
    </:title>
    <:body>
      <p>BlogPostComponent Body: {{post.body}}</p>
    </:body>
  </BlogPost>
{{/each}}
<h1>
  This is Example 4: Pushing data attributes into a child component, and
  yielding it to the parent with a component reference!
</h1>
{{#each @model as |route_post|}}
  {{! @editStyle is a reference to the child component, blogpost calls it, and yields it to the parent to pass in parameters}}
  <BlogPost
    @author={{route_post.author}}
    @title={{route_post.title}}
    @editStyle="markdown-style"
  >
    {{! Pulling the data from the component }}
    <:header as |header|>
      <p><b>Author:</b> {{header.author}} </p>
    </:header>
    <:test as |test|>
    <p><b>Title:</b> {{test.title}} </p>
      <div> <b>Body:</b>
        <test.body
          @indexRouteColor={{route_post.color}}
          @indexRouteAuthor={{route_post.author}}
          @indexRouteBody={{route_post.body}}
        />
      </div>
    </:test>
  </BlogPost>
{{/each}}
{{!-- </DashboardElements::InstallationGroup>
{{/each}} --}}
 <h1>
  This is Example 5: Yield a new component reference!
</h1>
{{#each @model as |route_post|}}
  <DashboardElements::ElementSelector
    @type={{route_post.type}}
    @element={{route_post.element}}
    @color={{route_post.color}}
    as |deWrap|
  >
    {{component deWrap.wrapper}}
    {{log 'wrapper' deWrap.wrapper}}
  </DashboardElements::ElementSelector>
{{/each}}