{{!-- Exampl 1-2: format title and body that get sent as a block to the blogpot component --}}
<div>{{yield to='author'}}</div>
<div>{{yield to='title'}}</div>
<div>{{yield to='body'}}</div>
<div>
    {{!-- Example 4: --}}
    {{yield (hash 
    author = this.author)
    to= "header"}}
    {{yield (hash  
    title = this.title
    body = (component this.editStyle)) to="test"}}
</div>